<section id="contact">
    <div class="contact_grid">
        <div class="contact_info">
            <div>
                <h2>CONTACT</h2>
                <div class="about_border"></div>
                <h4>AGENT</h4>
                <h5>AGENCY PHONE</h5>
                <p>+1 (849) 278-4377</p>
                <br>
                <h5>EMAIL</h5>
                <p>giulianagonzalez1992@gmail.com</p>
                <br>
            </div>
            <div>
                <h5>CONNECT WITH GIULIA</h5>
                <nav class="contact_nav">
                    <a class="contact_nav_a" href="https://www.instagram.com/giulianagonzaleez/" target="_blank">
                        <i class="fa fa-lg fa-instagram"></i>
                    </a>

                    <a class="contact_nav_a" href="mailto:giulianagonzalez1992@gmail.com? subject=subject text"
                        target="_blank">
                        <i class="fa-solid fa-envelope"></i>
                    </a>

                    <a class="contact_nav_a" href="https://wa.me/+1849278-4377?text=¡Estoy+Interesado!" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </nav>
            </div>
        </div>
        <div class="grid_img">

            <img class="contact_img" src="assets/LOGO.png" alt="">


        </div>


    </div>
    
</section>