<section id="works" class="bg-works">
    <div class="container">
      <div id="title">
        <h2 class="title_section">WORKS</h2>
      </div>
      <div class="about_border"></div>
      <div>
        <div class="works_grid">
          <div class="place">
            <img src="assets/work1.png" alt="work1" class="work_img"><br>
            <a href="https://www.instagram.com/elegancia_tropical_events/" class="a_site" target="_blank">Web Site</a>
          </div>
          <div class="place">
            <img src="assets/work2.png" alt="work2" class="work_img"><br>
            <a href="#" class="a_site">Web Site</a>
          </div>
          <div class="place">
            <img src="assets/work3.png" alt="work2" class="work_img"><br>
            <a href="https://www.hardrockhotels.com/punta-cana/" class="a_site" target="_blank">Web Site</a>
          </div>
          <div class="place">
            <img src="assets/work4.png" alt="work2" class="work_img"><br>
            <a href="https://www.excellenceresorts.com" class="a_site" target="_blank">Web Site</a>
          </div>
          <div class="place">
            <img src="assets/work5.png" alt="work2" class="work_img"><br>
            <a href="https://www.riu.com/es/hotels" class="a_site" target="_blank">Web Site</a>
          </div>
        </div>
      </div>
    </div>
  </section>
