<section id="videos">
    <div class="container">
      <div id="title">
        <h2 class="title_section">VIDEOS</h2>
      </div>
      <div class="about_border"></div>
    </div>
    <div class="video_grid">
      <div class="video_grid_container">
        <video class="video_item" src="assets/video1.mp4" controls></video>
      </div>
      <div class="video_grid_container">
        <video class="video_item" src="assets/video2.mp4" controls></video>
      </div>
      <div class="video_grid_container">
        <video class="video_item" src="assets/video3.mp4" controls></video>
      </div>
      <div class="video_grid_container">
        <video class="video_item" src="assets/video4.mp4" controls></video>
      </div>
      <div class="video_grid_container">
        <video class="video_item" src="assets/video5.mp4" controls></video>
      </div>
      <div class="video_grid_container">
        <video class="video_item" src="assets/video6.mp4" controls></video>
      </div>
    </div>
  </section>
