<!-- LOGO MAS BARRA DE NAVEGACION -->

<div class="navbar_items">
    <div class="logo">
      <img src="assets/LOGO.png" alt="" class="logo_img" />
    </div>
    <div class="hamburger" (click)="onClick()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav class="nav-bar">
      <ul>
        <li>
          <a href="#about" data-hover="About" class="active">ABOUT</a>
        </li>
        <li>
          <a href="#works" data-hover="Works">WORKS</a>
        </li>
        <li>
          <a href="#photos" data-hover="Gallery">GALLERY</a>
        </li>
        <li>
          <a href="#videos" data-hover="Videos">VIDEOS</a>
        </li>
        <li>
          <a href="#contact" data-hover="Contact">CONTACT</a>
        </li>
        <li>
          <a href="https://www.instagram.com/giulianagonzaleez/" target="_blank">
            <i class="fa fa-lg fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="mailto:giulianagonzalez1992@gmail.com? subject=subject text" target="_blank">
            <i class="fa-solid fa-envelope"></i>
          </a>
        </li>
        <li>
          <a href="https://wa.me/+1 (849) 278-4377?text=¡Estoy+Interesado!" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
