<section id="photos">
    <div class="container">
      <div id="title">
        <h2 class="title_section">GALLERY</h2>
      </div>
      <div class="about_border"></div>
      <div class="gallery_grid">
        <div class="img_gallery">
          <img src="assets/gallery1.jpeg" alt="" class="gallery_img">
        </div>
        <div class="img_gallery">
          <img src="assets/gallery2.jpeg" alt="" class="gallery_img">
        </div>
        <div class="img_gallery">
          <img src="assets/gallery3.jpeg" alt="" class="gallery_img">
        </div>
        <div class="img_gallery">
          <img src="assets/gallery4.jpeg" alt="" class="gallery_img">
        </div>
        <div class="img_gallery">
          <img src="assets/gallery5.jpeg" alt="" class="gallery_img">
        </div>
        <div class="img_gallery">
          <img src="assets/gallery6.jpeg" alt="" class="gallery_img">
        </div>
        <div class="img_gallery">
          <img src="assets/gallery7.jpeg" alt="" class="gallery_img">
        </div>
        <div class="img_gallery">
          <img src="assets/gallery8.jpeg" alt="" class="gallery_img">
        </div>
        <div class="img_gallery">
          <img src="assets/gallery9.jpeg" alt="" class="gallery_img">
        </div>
        <div class="img_gallery">
          <img src="assets/gallery10.jpeg" alt="" class="gallery_img">
        </div>
        <div class="img_gallery">
          <img src="assets/gallery11.jpg" alt="" class="gallery_img">
        </div>
        <div class="img_gallery">
          <img src="assets/gallery12.jpg" alt="" class="gallery_img">
        </div>
      </div>
    </div>
  </section>
