<section id="about" class="bg-about">
  <div class="container">
    <div id="title">
      <h2 class="title_section">ABOUT</h2>
    </div>
    <div class="about_border"></div>
    <div class="container_about">
      <div class="img_about">
        <img src="assets/gallery1.jpeg" alt="" class="img_grid" />
      </div>
      <div class="about_text">
        <div class="subtitle_about">
          <h4>BIOGRAPHY</h4>
        </div>
        <div class="about_border"></div>
        <p>
          Giuliana es una bailarina y coreógrafa de renombre internacional, con
          años de experiencia en una amplia variedad de estilos de danza,
          incluyendo ballet, jazz, danza árabe, contemporáneo, bailes típicos y
          regionales, hip hop, heels y más. Comenzó su formación en danza a la
          edad de 5 años, y ha entrenado y trabajado en toda América del Sur y
          América del Norte, incluyendo Argentina y República Dominicana.
        </p>
        <p>
          Giuliana ha bailado en numerosos eventos masivos en Argentina,
          incluyendo el famoso festival de
          <a href="https://vendimia.mendoza.gov.ar" target="_blank">Vendimia</a>
          , desempeñándose tanto como primera bailarina como coordinadora del
          evento. También ha trabajado como bailarina y coreógrafa para una
          productora de videos musicales.
        </p>
        <p>
          Desde 2015, Giuliana ha liderado la compañía de danza Movement en
          Argentina, logrando muchos éxitos con ella. Además, ha impartido
          clases particulares de ritmos variados durante toda su carrera.
        </p>
        <p>
          Durante su carrera como bailarina comercial, Giuliana ha tenido la
          oportunidad de trabajar y entrenar con algunos de los mejores
          productores, coreógrafos y profesores del mundo, como
          <a href="https://www.instagram.com/denisedelaroche/" target="_blank"
            >Denisse de la Roche</a
          >
          ,<a href="https://www.instagram.com/matiasnapp/" target="_blank"
            >Mattias Napp</a
          >
          ,<a href="https://www.instagram.com/nicoblanzari/" target="_blank"
            >Nicolas Blanzari</a
          >
          , entre otros.
        </p>
        <p>
          Actualmente, Giuliana reside en Punta Cana-República Dominicana, donde
          trabaja para compañías y cadenas hoteleras de renombre, como
          Excellence Resort, Hard Rock Hotel y Casino, Riu Resort y Elegancia
          Tropical Events, entre otros. Su talento y experiencia en la danza la
          han convertido en una profesional altamente solicitada y admirada en
          todo el mundo.
        </p>
      </div>
    </div>
    <div class="detalles">
      <div class="individual_grid">
        <div class="stats">
          <h5>STATS</h5>
          <div class="about_border"></div>
          <div class="stasts_subGrid">
            <ul class="stats_ul">
              <li class="stats_li">Heigth</li>
              <li class="stats_li">Hair</li>
              <li class="stats_li">Ethnicity</li>
              <li class="stats_li">Nationality</li>
              <li class="stats_li">Eyes</li>
              <li class="stats_li">Waist</li>
              <li class="stats_li">Hips</li>
              <li class="stats_li">Dress</li>
              <li class="stats_li">Bust</li>
            </ul>
            <ul class="stats_ul">
              <li class="stats_li">1.58 mts</li>
              <li class="stats_li">Black</li>
              <li class="stats_li">Latin American</li>
              <li class="stats_li">Argentinian</li>
              <li class="stats_li">Brown</li>
              <li class="stats_li">76 cm</li>
              <li class="stats_li">98 cm</li>
              <li class="stats_li">M arg</li>
              <li class="stats_li">90 cm</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="individual_grid">
        <div class="skills">
          <h5>SKILLS</h5>
          <div class="about_border"></div>
          <div>
            <ul class="stats_ul">
              <li class="stats_li">DANCE</li>
              <li class="stats_li">
                Heels, Dancehall, Jazz, Afrobeats, Cha Cha, Lyrical, Hip Hop,
                Ballet, Jazz Funk
              </li>
              <li class="stats_li">ACCENTS</li>
              <li class="stats_li">Argentinian Accent</li>
              <li class="stats_li">SPORTS</li>
              <li class="stats_li">Yoga, Athletics, Gym</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="individual_grid">
        <div class="training">
          <h5>TRAINING</h5>
          <div class="about_border"></div>
          <div>
            <ul class="stats_ul">
              <li class="stats_li">Denisse de la Roche</li>
              <li class="stats_li">Mattias Napp</li>
              <li class="stats_li">Nicolas Blanzari</li>
              <li class="stats_li">Rodrigo vallejos</li>
              <li class="stats_li">Julieta failace</li>
              <li class="stats_li">Priscila Echeverria</li>
              <li class="stats_li">Ezequiel suarez</li>
              <li class="stats_li">Esteban toppi</li>
              <li class="stats_li">Nahuel Leguizamon</li>
              <li class="stats_li">Joel Romero</li>
              <li class="stats_li">Violeta Rallis</li>
              <li class="stats_li">Vanesa minue</li>
              <li class="stats_li">Nicolas fleitas</li>
              <li class="stats_li">Denis Garcia</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
