section {
    background: #f2efec;
    padding: 20px;
    padding-top: 30px;
  }
  
  #title {
    color: rgb(69, 63, 63);
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  h2 {
    font-size: 40px;
    letter-spacing: 10px;
  }
  
  .container_about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 6rem;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .img_grid {
    height: calc(100% - 6.8rem);
    width: 90%;
    object-fit: cover;
  }
  .about_text {
    height: calc(100% - 6.8rem);
    width: 90%;
  }
  .subtitle_about {
    margin-bottom: 2rem;
  }
  
  .about_border {
    border-bottom: 0.2rem solid #b80d3a;
    margin-bottom: 2rem;
    width: 90%;
  }
  
  .detalles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 1rem;
  
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .individual_grid {
    height: calc(100% - 6.8rem);
    width: 90%;
  }
  
  .stasts_subGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    width: 100%;
  }
  
  .stats_li {
    list-style-type: none;
  }
  
  .stats_ul {
    margin-left: -10px;
  }

  /* RESPONSIVIDAD DEL ABOUT */
@media only screen and (max-width: 900px){
    .container_about{
    grid-template-columns: 1fr;
  }
  .detalles {
    grid-template-columns: 1fr;
  }
  }